<h2>Edit <%= @city.name %></h2>
<form method="POST" action="/cities/<%= @city.id %>">
  <label for="name">City Name:</label>
  <input type="text" name="name" id="city_name" value="<%= @city.name %>"/>
  <br>
  <select name="visit_status" id="visit-status">
    <% @status.each do |status| %>
    <% if status == @city.visit_status %>
    <option value="<%= status %>" selected> <%= status %> </option>
    <% else %>
    <option value="<%= status %>"><%= status %></option>
    <% end %>
    <% end %>
  </select>
  <br>
  <select name="country_id" id="country-id">
    <% @countries.each do |country| %>
    <% if country.name == @city.country.name %>
    <option value=<%= country.id %> selected><%= country.name %> </option>
    <% else %>
    <option value=<%= country.id %>><%= country.name %></option>
    <% end %>
    <% end %>
  </select>
  <br>
  <button class="button green" type="submit"><span>Confirm Edit</span></button>
  </form>

  <form method="POST" action="/cities/<%= @city.id %>/delete"><button class="button red" type="submit"> <span>Delete</span></button></form>
