<h1>Country: <%= @country.name %></h1>

<h2><%= @country.name %>'s cities:</h2>
  <% for city in @cities %>
  <% if city.country.name == @country.name %>
  <h3><a href="/cities/<%=city.id%>"><%= city.name %></a></h3><%= city.visit_status %>
  <% end %>
  <% end %>

<form action="/cities/new"><input type="submit" value="Add a City"></form>


<form action="/countries/<%=@country.id%>/edit"><input type="submit" value="Change Details or Delete"></form>
